/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
:root {
  --main-color: #000000;
  --footer-color: #222222;
  --buttons-color: #4a4a4a;
  --second-txt-color: #e21a14;
  --addictional-color: #4bc800;
}
/* .debug {
  background-color: aquamarine;
} */
.wrapper {
  width: 100%;
  height: 100vh;
}
ul {
  list-style: none;
}
/* Flex  */
.flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.wrap {
  flex-wrap: wrap;
}
.go-right {
  justify-content: flex-end;
  justify-items: flex-end;
}
.center {
  align-items: center;
}
.sp-between {
  justify-content: space-between;
}
.sp-evenly {
  justify-content: space-evenly;
}
.gap1 {
  gap: 15px;
}
.gap2 {
  gap: 50px;
}
/* Website */
body {
  background-color: var(--main-color);
}
header {
  background-color: black;
  width: 100%;
  height: 50px;
  padding: 5px;
}
main {
  background-color: var(--main-color);
  overflow-y: scroll;
  height: calc(100vh - 140px);
}
footer {
  background-color: var(--footer-color);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 10px;
}
.function {
  font-size: xx-large;
}
.lower {
  font-size: small;
}
.green {
  color: var(--addictional-color);
}
.box-video {
  width: calc(100% / 6 - 15px);
  height: calc(100vw / 6 - 15px);
  margin: 15px;
  position: relative;
}
img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.name-user {
  position: absolute;
  padding: 10px;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.356);
}

.button1 {
  color: white;
  background-color: #4a4a4a;
  padding: 5px;
}
.button2 {
  color: red;
  background-color: #4a4a4a;
  padding: 15px;
}
